.like{
    display: flex;
    align-items: center;
    gap: 8px;
}

.like button{
    background: none;
}
.like button:hover{
    opacity: 0.8;
}

.like img{
    height: 24px;
}

.like span{
    font-size: 20px;
}

.first{
    order: 1;
}

.second{
    order: 2;
}

@media (max-width: 600px ) {
    .like img{
        height: 20px;
    }
    
    .like span{
        font-size: 17px;
    }
}

@media (max-width: 430px ) {
    .like img{
        height: 16px;
    }
    
    .like span{
        font-size: 14px;
    }

    .like{
        gap: 6px;
    }
}