.title{
    font-size: 24px;
    margin: 6% 0 2%;
}

.comment_container{
    border-top: 1px solid var(--border-color);
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.last_comment{
    margin: 0 0 14%;
    border-bottom: 1px solid var(--border-color);
}

.comment {
    font-size: 20px;
    margin: 0 4% 0 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.comment__name{
    font-weight: 500;
}

.comment__delete{
    background: none;
}

.comment__delete:hover{
    opacity: 0.6;
}

.comment__delete img{
    width: 30px;
    height: 30px;
}

.no_comments{
    text-align: center;
    font-size: 20px;
    margin: 0 0 14%;
}

.add_comment{
    height: 100px;
}

@media (max-width: 1100px ) {
    .no_comments, .comment{
        font-size: 18px;
    }
}

@media (max-width: 600px ) {
    .title{
        font-size: 20px;
    }

    .no_comments, .comment{
        font-size: 16px;
    }

    .comment__delete img{
        width: 26px;
        height: 26px;
    }
}
  
@media (max-width: 430px ) {
    .title{
        font-size: 16px;
    }

    .no_comments, .comment{
        font-size: 14px;
    }

    .comment__delete img{
        width: 22px;
        height: 22px;
    }
}